.container{
display: flex;
width: 1440px;
justify-self: center;
justify-content: center;
}
.hero{
display: flex;
flex-direction: column;
justify-content: flex-start;
}
.hero-title{
width: 384px;
height: 103px;
margin-top: 170px;
}
.hero-description{
width: 384px;
height: 103px;
margin-top: 91px;
}

.description-image{
margin-top: 23px;
}
.hero-image{
margin-top: 23px;
}
.hero-image:first-child{
margin-top: 0;
}
.hero-button{
width: 193px;
height: 56px;
margin-top: 91px;
}
.hero-bgc{
margin-left: 263px;
margin-top: 92px;
}